<!doctype html>
<html>
<head>
<title>Handlebars demo</title> </head>
<link href="./stylesheets/style.css" rel="stylesheet">
<body>
    <table>
        <tr>
            <td > <img src="./images/logo.jpg" class="main-logo"></td>
            <td> <h1>Handlebar Test App </h1></td>
        </tr>
        <tr>
            <td>
               
                <br/><br/>
                {{{body}}}
            </td>
        </tr>
    </table>

</body>
</html>