<form action="/save" method="post">
<table>
    <tr>
        <td> First name </td>
        <td> <input type="text" id="first" name="first"> </td>
    </tr>
     <tr>
        <td> Last name </td>
        <td> <input type="text" id="name" name="name"> </td>
    </tr>
     <tr>
        <td> Profession </td>
        <td> <input type="text" id="profession" name="profession"> </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div><input type="submit" id="btnSave" value="Save"> </div>
        </td>
    </tr>
</table>
</form>