extends layout

block content
 div 
 h3 'Employee Record' 
 table(border='1')
    thead
        tr
            th #
            th Code
            th Name
            th Description
    tbody
        each item, i in items
            tr
                td= i+1
                td= item.code
                td= item.name
                td= item.description
                
   

