doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')   
    script(src='/js/jquery-1.8.3.min.js') */    
    script(src='/js/common.js')    
  body
    block content
