extends layout
    
block content
  .container
    .row
      .col-md-6.col-md-offset-3
        h3.display-4.m-b-2 Login...

        //Login form
        form(method='POST' action='/api/users/valdiatelogin')
         div.form-group
            label(for='id') Id:
            input#name.form-control(type='text', name='id' placeholder='Enter your login Id', required)         
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password' name='password' placeholder='Enter your password', required)         
    
           input#btnlogin.btn.btn-large.btn-primary(type='submit' name='btnlogin' value='Login' )
