extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up

        // register form
        form(method='POST' action='/api/users/add')
         div.form-group
            label(for='id') Id:
            input#name.form-control(type='text', name='id', placeholder='Enter your login Id', required)
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='first and last' name='name', required)
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email', required)         
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password' name='password', placeholder='Enter your password', required)         
            
           input#btnSignup.btn.btn-large.btn-primary(type='submit' name='Signup' value='signup') 